<%= simple_form_for @profile, :html => { :onsubmit => "return validateForm()", :multipart => true }, url: wizard_path, method: :put, wrapper: :vertical_form,
                                      wrapper_mappings: {
                                        check_boxes: :horizontal_radio_and_checkboxes,
                                        radio_buttons: :horizontal_radio_and_checkboxes,
                                        file: :horizontal_file_input,
                                        datetime: :multi_select
                                      }  do |f| %>
                                      
	<fieldset>
	  <h2>Basic Information</h2>
      <%= f.label "Name" %>
      <%= f.input :name, label: false, placeholder: "Name", input_html: { class: "form-control" } %>
      <p id="name" style="color:red; display: none;" >Please enter name</p>
      <%= f.input :dob,
              start_year: Date.today.year - 90,
              end_year: Date.today.year - 12,
              order: [:day, :month, :year],:include_blank => true,
              label: "Date of birth"  %>
      <p id="dob" style="color:red; display: none;" >Please enter date of birth</p>
      <%= f.input :country  %>
      <p id="country" style="color:red; display: none;" >Please choose country</p>
      <%= f.input :state, label: 'State/Province'  %>
      <p id="state" style="color:red; display: none;" >Please enter state/province</p>
      <%= f.input :city  %>
      <p id="city" style="color:red; display: none;" >Please enter city</p>
      <%= f.input :gender,
                  collection: [[:Male, "Male"], [:Female, "Female"]],
                  label_method: :last,
                  value_method: :first,
                  as: :radio_buttons,
                  item_wrapper_class: 'radio-inline'   %>
      <p id="gender" style="color:red; display: none;" >Please choose gender</p>            
      <%= f.input :status, label: 'Marital status' , collection: [:Single, :Divorce, :Widow], as: :radio_buttons, :item_wrapper_class => 'radio-inline'  %>
      <p id="status" style="color:red; display: none;" >Please choose status</p>
      <%= f.input :religion, collection: [:Baha, :Bhudist, :"Christian - Catholic", :"Christian - Other", :"Christian - Protestant", :Hindu, :Islam, :Jainism, :Jewish, :Parsi, :Shintoism, :Sikhism, :Taoism, :Other, :"No Religion"]  %>
      <p id="religion" style="color:red; display: none;" >Please choose religion</p>
      <%= f.input :religious_values, label: "Religious Values", collection: [:"Not Religious", :"Religious", :"Very Religious"]  %>
      <p id="religious" style="color:red; display: none;" >Please choose religious values</p>
      <br>
      <%= f.label "Language" %>
      <%= f.select :language, options_for_select(["", "English", "Tagalog", "Cebauano", "Chinese", "Thai", "French", "German", "Armenian", "Arabic", "Spanish", "Japanese", "Other"], :selected => f.object.language), {}, :class => 'form-control' %>
      <p id="language" style="color:red; display: none;" >Please choose language</p>
      <%= f.input :ethnicity, collection: [:"Arab (Middle Eastern)", :Asian, :Black, :"Caucasian(White)", :"Hispanic/Latino", :Indian, :Mixed, :"Pacific Islander", :Other] %>
      <p id="ethnicity" style="color:red; display: none;" >Please choose ethnicity</p>
      <%= f.input :education, label: 'Education', collection: [:"Primary(Elementary) School",:"Middle School/Junior High", :"High School", :"Vocational College", :"Bachelors Degree", :"Masters Degree", :"Phd or Doctorate"]  %>
      <p id="education" style="color:red; display: none;" >Please choose education</p>
      <%= f.input :occupation %>
      <p id="occupation" style="color:red; display: none;" >Please enter occupation</p>
      <%= f.input :household, label: 'Living Situation' , collection: [:Alone, :Housemates, :family]  %>
      <p id="household" style="color:red; display: none;" >Please choose living situation</p>
      <br>
      <%= f.label "Height"%>
      <%= f.select :height, ((140..500).map {|i| "#{i} cm" }), { :selected => @profile.height, :include_blank => true}, class: "form-control" %>
      <p id="height" style="color:red; display: none;" >Please choose height</p>
      <br>
      <%= f.label "Weight"%>
      <%= f.select :weight, ((40..500).map {|i| "#{i} kg" }), { :selected => @profile.weight, :include_blank => true}, class: "form-control" %>
      <p id="weight" style="color:red; display: none;" >Please choose weight</p>
      <%= f.input :bodytype, label: 'Body Type' , collection: [:Slim, :Athletic, :Average, :"Few Extra Pounds", :"Full Figured", :"Large and Lovely"]  %>
       <p id="bodytype" style="color:red; display: none;" >Please choose body type</p>
      <%= f.input :smoker, label: 'Do you smoke?', collection: [:Yes, :No]  %>
       <p id="smoker" style="color:red; display: none;" >Please answer</p>
      <%= f.input :drinker, label: 'Do you drink?', collection: [:"Not At All", :"Occasional Drinker", :"Heavy Drinker"]  %>
       <p id="drinker" style="color:red; display: none;" >Please answer</p>
      <%= f.input :children, label: 'Do you have children?', collection: [:Yes, :No]  %>
       <p id="children" style="color:red; display: none;" >Please answer</p>
      <%= f.input :wantkids, label: 'Do you want to have a children?', collection: [:Yes, :No, :Maybe]  %>
       <p id="wantkids" style="color:red; display: none;" >Please answer</p>
      <%= f.input :experience_with_courtship, label: 'Do you have courtship experience?', collection: [:"New to Courtship", :"Experienced with Courtship"]  %>
       <p id="experience" style="color:red; display: none;" >Please answer</p>
      <br>
      <%= f.label :profile_heading%>
      <%= f.text_area :profile_heading, label: 'Your Profile Heading', :rows => 5, class: "form-control", :maxlength => 50, id: "text_area"  %>
      <p id="heading" style="color:red; display: none;" >Please enter profile heading </p>
      <br>
      <div id="courtship" <%= "style=display:none;" if current_user.profile.gender == "Male" %> >
        <%= f.label "Courtship Preferences(Choose your best top 5)" %>
        <% if CourtshipPreference.all.empty? %>
          <p>None found. Contact support.</p>
        <% end %>
        
        <%= collection_check_boxes(:profile, :courtship_preference_ids, CourtshipPreference.all, :id, :name) do |b| %>
          <div class="row">
            <%= b.label(class: "check_box") do %>
              <div class="col-xs-4">
                <%= b.check_box(class: "check_box") %>
              </div>
        
              <div class="col-xs-8">
                <%= b.object.name %>
              </div>       
            <% end %>
          </div>
        <% end %>
        <p id="courtship_preference" style="color:red; display: none;" >Choose at least 5 courtship preferences</p>
      </div>

      <%= f.input :selfbio, label: 'Tell something about your self', as: :text  %>
      <p id="selfbio" style="color:red; display: none;" >Please tell something about yourself</p>
      <%= f.input :ideal, label: 'Describe you ideal partner', as: :text  %>
      <p id="ideal" style="color:red; display: none;" >Please describe your ideal partner</p>

<h3>Upload Photos</h3>

<div class="files"> 
<%= f.fields_for :profile_photos, :html => { :class => "upload", :multipart => true } do |p| %>
  <%= p.file_field :photo %>
  <div>Upload files</div>
<% end %>

<table class="upload_files"></table>
<table class="download_files"></table>
</div>

        <fieldset>
                <div class="tab-pane fade in active" id="home">
                  <div class="">
                    <div class="row">
                      <%= f.fields_for :profile_photos do |p| %>
                        <%= p.hidden_field :is_profile_pic, value: true if @profile.first_photo? %>
                        <div class="col-xs-6 col-md-3 thumb">
                          <span class="thumbnail">
                            <img src="/assets/set-as-profile-pic-icon.png" class="currentProfilePic" id="currentProfilePic-<%= p.object.id %>" style="display: <%= p.object.is_profile_pic? ? 'block' : 'none' %>" />
                            <% if p.object.photo.blank? %>
                              <%= image_tag p.object.photo(:thumb), class: "img-responsive" %>
                            <% else %>
                              <%= image_tag p.object.photo(:thumb) %>
                            <% end %>
                            <label class="add-photo-btn"> Select Picture
                              <span>
                                <%= p.input :photo, :multiple => true, as: :file, label: false %>
                              </span>
                            </label>
                            <%= p.check_box :_destroy, class: "removePhoto" %>
                          </span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <br>
                </div>
                </div>
                <div class="clearfix"></div>
              </fieldset>

        <%= f.input :tandc, label: 'Yes, I Agree to the terms and conditions.',
         as: :boolean,
         checked_value: true,
         unchecked_value: false  %>
          <p id="tandc" style="color:red; display: none;" >You must agree to the terms and conditions</p>
             
    </div>
    <div class="clearfix"></div>
  </fieldset>
      <button type="submit" href="#profile" name="home_form" class="btn-submit btn btn-success btn-outline-rounded green btnNext">
      	Submit Profile <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
    <div class="clearfix"></div>
  </fieldset>
<% end %>