<div class="userProfile">
  <section style="background:#efefe9;">
    <div class="container">
      <div class="row">
        <div class="board">
	      	<div class="tab-content">
	      	  <%= simple_form_for @profile, url: wizard_path, method: :put, wrapper: :vertical_form,
	                                                wrapper_mappings: {
	                                                  check_boxes: :horizontal_radio_and_checkboxes,
	                                                  radio_buttons: :horizontal_radio_and_checkboxes,
	                                                  file: :horizontal_file_input,
	                                                  datetime: :multi_select
	                                                } do |f| %>
	                                                
	              
	              <% if false %>                   
	               <% if @profile.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this user from being saved:</h2>
              
                    <ul>
                    <% @profile.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                 <% end %>
        
	          	<fieldset>
	              <div class="tab-pane fade in active" id="home"
	                <%= f.label "Name" %>
	                <%= f.input :name, label: false, placeholder: "Name", input_html: { class: "form-control", required: true } %>
	                <%= f.input :dob,
	                        start_year: Date.today.year - 90,
	                        end_year: Date.today.year - 12,
	                        discard_day: true,
	                        order: [:month, :year],
	                        label: "Date of birth" %>
	                <%= f.input :country %>
	                <%= f.input :state, label: 'State/Province' %>
	                <%= f.input :city %>
	                <%= f.input :gender,
	                            collection: [[:Male, "Male"], [:Female, "Female"]],
	                            label_method: :last,
	                            value_method: :first,
	                            as: :radio_buttons,
	                            item_wrapper_class: 'radio-inline' %>
	                <%= f.input :status, label: 'Marital status' , collection: [:Single, :Divorce, :Widow], as: :radio_buttons, :item_wrapper_class => 'radio-inline' %>
	                <%= f.input :religion, collection: [:Protestant, :Hindu, :Bhudist, :Catholic, :Islam, :Other] %>
	                <%# f.input :language, collection: [:English, :Tagalog, :Spanish, :Chinese, :German, :French] %>
	                <%= f.label "Language"%>
	                <%= f.select :language, options_for_select(languages), {}, {class: 'form-control'}  %>
                  <%= f.input :ethnicity, collection: [:Asian, :Caucasian, :Hispanic, :Arabs, :Persians, :Other] %>
	                <%= f.input :education, label: 'Education', collection: [:"Graduate Degree", :"Bachelors Degree", :"Vocational", :"High School"] %>
	                <%= f.input :occupation %>
	                <%= f.input :household, label: 'Living Situation' , collection: [:Alone, :Housemates, :family] %>
	                <%= f.input :height, input_html: { type: 'number', min: '1', max: '200', value: f.object.height || '1' }, :label => "Height(in centimeters)" %>
	                <%= f.input :weight, input_html: { type: 'number', min: '1', max: '200', value: f.object.weight || '1' }, :label => "Weight(in kilograms)"%>
	                <%= f.input :bodytype, label: 'Body Type' , collection: [:Slim, :Petite, :Athletic, :Medium, :Overweight] %>
	                <%= f.input :smoker, label: 'Do you smoke?', collection: [:Yes, :No] %>
	                <%= f.input :drinker, label: 'Do you drink?', collection: [:"Not At All", :"Occasional Drinker", :"Heavy Drinker"] %>
	                <%= f.input :children, label: 'Do you have children?', collection: [:Yes, :No] %>
	                <%= f.input :wantkids, label: 'Do you want to have a children?', collection: [:Yes, :No, :Maybe] %>
	                <%= f.input :experience_with_courtship, label: 'Do you have courtship experience?', collection: [:"New to Courtship", :"Experienced with Courtship"] %>
	                
	                <%= f.input :religious_values, label: "Religious Values", collection: [:'Choice of spiritual', :"Religious", :"Not Religious"] %>
	                <%= f.input :profile_heading, label: 'Your Profile Heading' %>
                  <% unless @profile.male? %>
                    <label class="select optional control-label" for="profile_smoker">
                      Courtship Preferences
                    </label>
                    <br/>
                    <% if CourtshipPreference.all.empty? %>
                      <p>None found. Contact support.</p>
                    <% end %>
                    <%= collection_check_boxes(:profile, :courtship_preference_ids, CourtshipPreference.all, :id, :name) %>
                  <% end %>
                  <%= f.input :selfbio, label: 'Tell something about your self', as: :text %>
                  <%= f.input :ideal, label: 'Describe you ideal partner', as: :text %>
                  <%= f.input :tandc, label: 'Accept terms and conditions?',
                         as: :boolean,
                         checked_value: true,
                         unchecked_value: false %>
                   <br>
                   <div class="container">
                      <div class="row" >
                        <div class="col-md-1">
                        <img src="/assets/profile-pic-icon.png" class="pull-left"> 
                        </div>
                     <div>
                          Your Profile Picture
                      </div>
                      </div>
                    </div>
                    <br>
                    <hr>
                   <fieldset>
                <div class="tab-pane fade in active" id="home">
                  <div class="">
                    <div class="row">
                      <%= f.fields_for :profile_photos do |p| %>
                        <%= p.hidden_field :is_profile_pic, value: true if @profile.first_photo? %>
                        <div class="col-xs-6 col-md-3 thumb">
                          <span class="thumbnail">
                            <img src="/assets/set-as-profile-pic-icon.png" class="currentProfilePic" id="currentProfilePic-<%= p.object.id %>" style="display: <%= p.object.is_profile_pic? ? 'block' : 'none' %>" />
                            <% if p.object.photo.blank? %>
                              <%= image_tag p.object.photo(:thumb), class: "img-responsive" %>
                            <% else %>
                              <%= link_to (image_tag p.object.photo(:thumb), class: "img-responsive", title: "Set as profile picture"), set_as_profile_picture_profile_photo_path(p.object.id), :class => 'setAsProfilePicture', remote: true %>
                            <% end %>
                            <label class="add-photo-btn"> Select Picture
                              <span>
                                <%= p.input :photo, :multiple => true, as: :file, label: false %>
                              </span>
                            </label>
                            <%= p.check_box :_destroy, class: "removePhoto" %>
                          </span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <button type="submit" href="#profile" name="home_form" class="bbtn">
                    Upload Photo <span class="glyphicon glyphicon-upload"></span>
                  </button>
                  <button type="submit" href="#profile" name="home_form" class="bbtn">
                    Delete checked photos <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  <br>
                </div>
                </div>
                <div class="clearfix"></div>
              </fieldset>
	                <button type="submit" href="#profile" name="home_form" class="btn-submit btn btn-success btn-outline-rounded green btnNext">
	                	Submit Profile <span class="glyphicon glyphicon-send"></span>
	                </button>
	              </div>
	              <div class="clearfix"></div>
	            </fieldset>
	          <% end %>
	        </div>
	      </div>
		  </div>
	  </div>
	</section>
</div>

<%= link_to "Back to my profile", myprofile_path, class: "btn btn-info" %>