<%= simple_form_for @profile, :html => { :onsubmit => "return validateForm()", :multipart => true }, url: wizard_path, method: :put, wrapper: :vertical_form,
                                      wrapper_mappings: {
                                        check_boxes: :horizontal_radio_and_checkboxes,
                                        radio_buttons: :horizontal_radio_and_checkboxes,
                                        file: :horizontal_file_input,
                                        datetime: :multi_select
                                      }  do |f| %>
                                      
	<fieldset>
	  <h2>Basic Information</h2>
      <%= f.label "Name" %>
      <%= f.input :name, label: false, placeholder: "Name", input_html: { class: "form-control" } %>
      <p id="name" style="color:red; display: none;" >Please enter name</p>
      <%= f.input :dob,
              start_year: Date.today.year - 90,
              end_year: Date.today.year - 12,
              order: [:day, :month, :year],:include_blank => true,
              label: "Date of birth"  %>
      <p id="dob" style="color:red; display: none;" >Please enter date of birth</p>
      <%= f.input :country  %>
      <p id="country" style="color:red; display: none;" >Please choose country</p>
      <%= f.input :state, label: 'State/Province'  %>
      <p id="state" style="color:red; display: none;" >Please enter state/province</p>
      <%= f.input :city  %>
      <p id="city" style="color:red; display: none;" >Please enter city</p>
      <%= f.input :gender,
                  collection: [[:Male, "Male"], [:Female, "Female"]],
                  label_method: :last,
                  value_method: :first,
                  as: :radio_buttons,
                  item_wrapper_class: 'radio-inline'   %>
      <p id="gender" style="color:red; display: none;" >Please choose gender</p>            
      <%= f.input :status, label: 'Marital status' , collection: [:Single, :Divorce, :Widow], as: :radio_buttons, :item_wrapper_class => 'radio-inline'  %>
      <p id="status" style="color:red; display: none;" >Please choose status</p>
      <%= f.input :religion, collection: [:Baha, :Bhudist, :"Christian - Catholic", :"Christian - Other", :"Christian - Protestant", :Hindu, :Islam, :Jainism, :Jewish, :Parsi, :Shintoism, :Sikhism, :Taoism, :Other, :"No Religion"]  %>
      <p id="religion" style="color:red; display: none;" >Please choose religion</p>
      <%= f.input :religious_values, label: "Religious Values", collection: [:"Not Religious", :"Religious", :"Very Religious"]  %>
      <p id="religious" style="color:red; display: none;" >Please choose religious values</p>
      <br>
      <%= f.label "Language" %>
      <%= f.select :language, options_for_select(["", "English", "Tagalog", "Cebauano", "Chinese", "Thai", "French", "German", "Armenian", "Arabic", "Spanish", "Japanese", "Other"], :selected => f.object.language), {}, :class => 'form-control' %>
      <p id="language" style="color:red; display: none;" >Please choose language</p>
      <%= f.input :ethnicity, collection: [:"Arab (Middle Eastern)", :Asian, :Black, :"Caucasian(White)", :"Hispanic/Latino", :Indian, :Mixed, :"Pacific Islander", :Other] %>
      <p id="ethnicity" style="color:red; display: none;" >Please choose ethnicity</p>
      <%= f.input :education, label: 'Education', collection: [:"Primary(Elementary) School",:"Middle School/Junior High", :"High School", :"Vocational College", :"Bachelors Degree", :"Masters Degree", :"Phd or Doctorate"]  %>
      <p id="education" style="color:red; display: none;" >Please choose education</p>
      <%= f.input :occupation %>
      <p id="occupation" style="color:red; display: none;" >Please enter occupation</p>
      <%= f.input :household, label: 'Living Situation' , collection: [:Alone, :Housemates, :family]  %>
      <p id="household" style="color:red; display: none;" >Please choose living situation</p>
      <br>
      <%= f.label "Height"%>
      <%= f.select :height, ((140..500).map {|i| "#{i} cm" }), { :selected => @profile.height, :include_blank => true}, class: "form-control" %>
      <p id="height" style="color:red; display: none;" >Please choose height</p>
      <br>
      <%= f.label "Weight"%>
      <%= f.select :weight, ((40..500).map {|i| "#{i} kg" }), { :selected => @profile.weight, :include_blank => true}, class: "form-control" %>
      <p id="weight" style="color:red; display: none;" >Please choose weight</p>
      <%= f.input :bodytype, label: 'Body Type' , collection: [:Slim, :Athletic, :Average, :"Few Extra Pounds", :"Full Figured", :"Large and Lovely"]  %>
       <p id="bodytype" style="color:red; display: none;" >Please choose body type</p>
      <%= f.input :smoker, label: 'Do you smoke?', collection: [:Yes, :No]  %>
       <p id="smoker" style="color:red; display: none;" >Please answer</p>
      <%= f.input :drinker, label: 'Do you drink?', collection: [:"Not At All", :"Occasional Drinker", :"Heavy Drinker"]  %>
       <p id="drinker" style="color:red; display: none;" >Please answer</p>
      <%= f.input :children, label: 'Do you have children?', collection: [:Yes, :No]  %>
       <p id="children" style="color:red; display: none;" >Please answer</p>
      <%= f.input :wantkids, label: 'Do you want to have a children?', collection: [:Yes, :No, :Maybe]  %>
       <p id="wantkids" style="color:red; display: none;" >Please answer</p>
      <%= f.input :experience_with_courtship, label: 'Do you have courtship experience?', collection: [:"New to Courtship", :"Experienced with Courtship"]  %>
       <p id="experience" style="color:red; display: none;" >Please answer</p>
      <br>
      <%= f.label :profile_heading%>
      <%= f.text_area :profile_heading, label: 'Your Profile Heading', :rows => 5, class: "form-control", :maxlength => 50, id: "text_area"  %>
      <p id="heading" style="color:red; display: none;" >Please enter profile heading </p>
      <br>
      <div id="courtship" <%= "style=display:none;" if current_user.profile.gender == "Male" %> >
        <%= f.label "Courtship Preferences(Choose your best top 5)" %>
        <% if CourtshipPreference.all.empty? %>
          <p>None found. Contact support.</p>
        <% end %>
        
        <%= collection_check_boxes(:profile, :courtship_preference_ids, CourtshipPreference.all, :id, :name) do |b| %>
          <div class="row">
            <%= b.label(class: "check_box") do %>
              <div class="col-xs-4">
                <%= b.check_box(class: "check_box") %>
              </div>
        
              <div class="col-xs-8">
                <%= b.object.name %>
              </div>       
            <% end %>
          </div>
        <% end %>
        <p id="courtship_preference" style="color:red; display: none;" >Choose at least 5 courtship preferences</p>
      </div>

      <%= f.input :selfbio, label: 'Tell something about your self', as: :text  %>
      <p id="selfbio" style="color:red; display: none;" >Please tell something about yourself</p>
      <%= f.input :ideal, label: 'Describe you ideal partner', as: :text  %>
      <p id="ideal" style="color:red; display: none;" >Please describe your ideal partner</p>

<h3>Upload Photos</h3>

<% if current_user.profile.pictures.count < 1 %>
  <div class="row">
    <%= file_field_tag "images[]", type: :file, class: "picture1" %>
    <div class="target1 col-md-3" style="margin: 0px; margin-left: 3px; padding: 0px; display:none; height: 222px; width: 220px; border: solid 1px black;">
      <div id="target1">
    </div>
    </div>
    <br>
  </div>

  <div class="row">
    <%= file_field_tag "images[]", type: :file, class: "picture2" %>
     <div class="target2 col-md-3" style="margin: 0px; margin-left: 3px; padding: 0px; display:none; height: 222px; width: 220px; border: solid 1px black;">
      <div id="target2">
    </div>
    </div>
   <br>
  </div>  

  <div class="row">
    <%= file_field_tag "images[]", type: :file, class: "picture3" %>
     <div class="target3 col-md-3" style="margin: 0px; margin-left: 3px; padding: 0px; display:none; height: 222px; width: 220px; border: solid 1px black;">
      <div id="target3">
    </div>
    </div>
     <br>
  </div>

  <div class="row">
    <%= file_field_tag "images[]", type: :file, class: "picture4" %>
     <div class="target4 col-md-3" style="margin: 0px; margin-left: 3px; padding: 0px; display:none; height: 222px; width: 220px; border: solid 1px black;">
      <div id="target4">
    </div>
    </div>
     <br>
  </div>

  <div class="row">
    <%= file_field_tag "images[]", type: :file, class: "picture5" %>
     <div class="target5 col-md-3" style="margin: 0px; margin-left: 3px; padding: 0px; display:none; height: 222px; width: 220px; border: solid 1px black;">
      <div id="target5">
    </div>
    </div>
     <br>
  </div>
  
<% end %>
    <br>
  <center>
     <% @pictures.each do |picture|  %>
     <div id="profile-pic">
     	<%= "Your Profile Picture" if picture.is_profile_pic %>
     </div>
     	<div id="<%= picture.id %>-picture" style="display:none;">Your Profile Picture</div>
     	<%= image_tag picture.image(:medium) %>
     	<br>
     	
     
     		<%= link_to "Set as profile picture", set_as_profile_picture_picture_path(picture.id), :class => 'setAsProfilePicture', remote: true  %>
     	<%= link_to "Delete", destroy_photo_picture_path(picture.id),
      :data => { :confirm => "Are you sure?" },
      :method => :delete
    	%>
    	<br>
    	<br>
     <% end %>
  </center>
     <center>
       <%if @pictures.count > 0%>
    		 	<% pics = @pictures.count %>
    			 <% while pics < 5  do %>
    			 <div class="row">
    			      <%= image_tag "nopicture.png", id: "nopicture#{pics}"%>
    			   	 <div class="target<%= pics %> col-md-3 col-md-offset-5" style="padding: 0px; display:none; height: 222px; width: 220px; border: solid 1px black;">
                <div id="target<%= pics %>">
                </div>
              </div>
              </div>
              <br>
    			   <%= file_field_tag "images[]", type: :file, class: "picture#{pics}" %>
    			 <% pics += 1 %>
        
    			<% end %>
  			<% end %>
			</center>

        <%= f.input :tandc, label: 'Yes, I Agree to the terms and conditions.',
         as: :boolean,
         checked_value: true,
         unchecked_value: false  %>
          <p id="tandc" style="color:red; display: none;" >You must agree to the terms and conditions</p>
             
    </div>
    <div class="clearfix"></div>
  </fieldset>
      <button type="submit" href="#profile" name="home_form" class="btn-submit btn btn-success btn-outline-rounded green btnNext">
      	Submit Profile <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
    <div class="clearfix"></div>
  </fieldset>
<% end %>

<%# link_to "Back to my profile", myprofile_path, class: "btn btn-info" %>

<script>

$(function() {
  
  $('#profile_gender_male').click(function() {
    $("#courtship").css("display", "none");
  });
    $('#profile_gender_female').click(function() {
    $("#courtship").css("display", "unset");
  });
  
  $('.picture1').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.style.width = '220px';
      img.style.height = '220px';
      console.log(file);
      img.src = file.target.result;
      $('#target1').html(img);
      $('.target1').css({"display": "unset"});
       $("img#nopicture1").hide();
      
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
  
    $('.picture2').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.style.width = '220px';
      img.style.height = '220px';
      console.log(file);
      img.src = file.target.result;
      $('#target2').html(img);
      $('.target2').css({"display": "unset"});
       $("img#nopicture2").hide();
    }
    reader.readAsDataURL(image);
    console.log(files);
  });

  $('.picture3').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
       img.style.width = '220px';
      img.style.height = '220px';
      console.log(file);
      img.src = file.target.result;
      $('#target3').html(img);
      $('.target3').css({"display": "unset"});
      $("img#nopicture3").hide();
      
    }
    reader.readAsDataURL(image);
    console.log(files);
  });

  $('.picture4').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.style.width = '220px';
      img.style.height = '220px';
      console.log(file);
      img.src = file.target.result;
      $('#target4').html(img);
      $('.target4').css({"display": "unset"});
       $("img#nopicture4").hide();
      
    }
    reader.readAsDataURL(image);
    console.log(files);
  });


  $('.picture5').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
   
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.style.width = '220px';
      img.style.height = '220px';
      console.log(file);
      img.src = file.target.result;
      $('#target5').html(img);
      $('.target5').css({"display": "unset"});
       $("img#nopicture5").hide();
      
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
  
});



var checkbox_checked = $('input[name="profile[courtship_preference_ids][]"]:checked').length;
var limit = 5;
var profile_gender = $('input:radio[name="profile[gender]"]:checked').val();

$('input[name="profile[courtship_preference_ids][]"]').on('change', function(evt) {
  if ($('input[name="profile[courtship_preference_ids][]"]:checked').length > 5) {
    
     alert("5 courtship preference only");
            this.checked = false;
  } 
});



$( "#text_area" ).on('input', function() {
    if ($(this).val().length>=50) {
        alert('Your profile heading: Maximum 50 characters. ');       
    }
});



function validateForm() {
  

  var profile_name = document.getElementById("profile_name").value;
  var profile_country = document.getElementById("profile_country");
  var profile_country_value = profile_country.options[profile_country.selectedIndex].value;
  var profile_state = document.getElementById("profile_state").value;
  var profile_city = document.getElementById("profile_city").value;
  var profile_gender = $('input:radio[name="profile[gender]"]:checked').val();
  var profile_status = $('input:radio[name="profile[status]"]:checked').val();
  var profile_religion = document.getElementById("profile_religion");
  var profile_religion_value = profile_religion.options[profile_religion.selectedIndex].value;
  var profile_ethnicity = document.getElementById("profile_ethnicity");
  var profile_ethnicity_value = profile_ethnicity.options[profile_ethnicity.selectedIndex].value;
  var profile_education = document.getElementById("profile_education");
  var profile_education_value = profile_education.options[profile_education.selectedIndex].value;
  var profile_household = document.getElementById("profile_household");
  var profile_household_value = profile_household.options[profile_household.selectedIndex].value;
  var profile_bodytype = document.getElementById("profile_bodytype");
  var profile_bodytype_value = profile_bodytype.options[profile_bodytype.selectedIndex].value;
  var profile_occupation = document.getElementById("profile_occupation").value;
  
  var profile_smoker = document.getElementById("profile_smoker");
  var profile_smoker_value = profile_smoker.options[profile_smoker.selectedIndex].value;
  
  var profile_drinker = document.getElementById("profile_drinker");
  var profile_drinker_value = profile_drinker.options[profile_drinker.selectedIndex].value;
  
  var profile_wantkids = document.getElementById("profile_wantkids");
  var profile_wantkids_value = profile_wantkids.options[profile_wantkids.selectedIndex].value;
  
  var profile_children = document.getElementById("profile_children");
  var profile_children_value = profile_children.options[profile_children.selectedIndex].value;
  
  var profile_experience = document.getElementById("profile_experience_with_courtship");
  var profile_experience_value = profile_experience.options[profile_experience.selectedIndex].value;

  
  var profile_religious = document.getElementById("profile_religious_values");
  var profile_religious_value = profile_religious.options[profile_religious.selectedIndex].value;
  var x = 0;
    
  var profile_heading = document.getElementById("text_area").value;
  var profile_selfbio = document.getElementById("profile_selfbio").value;
  var profile_ideal = document.getElementById("profile_ideal").value;
  
  var profile_terms = $('#profile_tandc:checkbox:checked').length > 0;
  
  var profile_weight = document.getElementById("profile_weight");
  var profile_weight_value = profile_weight.options[profile_weight.selectedIndex].value;
  
  var profile_height = document.getElementById("profile_height");
  var profile_height_value = profile_height.options[profile_height.selectedIndex].value;
  
    var profile_language = document.getElementById("profile_language");
  var profile_language_value = profile_language.options[profile_language.selectedIndex].value;
  
      var profile_dob_3i = document.getElementById("profile_dob_3i");
    var profile_dob_3i_value = profile_dob_3i.options[profile_dob_3i.selectedIndex].value;
    
        var profile_dob_2i = document.getElementById("profile_dob_2i");
    var profile_dob_2i_value = profile_dob_2i.options[profile_dob_2i.selectedIndex].value;
    
        var profile_dob_1i = document.getElementById("profile_dob_1i");
    var profile_dob_1i_value = profile_dob_1i.options[profile_dob_1i.selectedIndex].value;
   
  var birthday = 0; 
  
    var checkbox_checked = $('input[name="profile[courtship_preference_ids][]"]:checked').length;
  
  if (profile_gender == "Female" && checkbox_checked < 5) {
    $("#courtship_preference").css("display", "unset");
     x += 1;
  } else {
     $("#courtship_preference").css("display", "none");
  }
  
  
  if (profile_dob_3i_value == "") {
    birthday += 1;
  } 
  if (profile_dob_2i_value == "") {
    birthday += 1;
  } 
    if (profile_dob_1i_value == "") {
    birthday += 1;
  } 
  
  if (birthday > 0) {
  document.getElementById('dob').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('dob').style.display = 'none';
  }
  
    if (profile_language_value == "") {
  document.getElementById('language').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('language').style.display = 'none';
  }
  
  if (profile_height_value == "") {
  document.getElementById('height').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('height').style.display = 'none';
  }
  
  if (profile_weight_value == "") {
    document.getElementById('weight').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('weight').style.display = 'none';
  }
  
  if (profile_terms == false) {
    document.getElementById('tandc').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('tandc').style.display = 'none';
  }
  
    if (profile_selfbio == "") {
    document.getElementById('selfbio').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('selfbio').style.display = 'none';
  }
  
    if (profile_ideal == "") {
    document.getElementById('ideal').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('ideal').style.display = 'none';
  }
  
  if (profile_heading == "") {
    document.getElementById('heading').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('heading').style.display = 'none';
  }
  
  if (profile_religious_value == "") {
    document.getElementById('religious').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('religious').style.display = 'none';
  }
    
  if (profile_experience_value == "") {
    document.getElementById('experience').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('experience').style.display = 'none';
  }
  
  if (profile_children_value == "") {
  document.getElementById('children').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('children').style.display = 'none';
  }
  
  if (profile_wantkids_value == "") {
    document.getElementById('wantkids').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('wantkids').style.display = 'none';
  }
  
    if (profile_drinker_value == "") {
    document.getElementById('drinker').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('drinker').style.display = 'none';
  }
  
  if (profile_smoker_value == "") {
    document.getElementById('smoker').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('smoker').style.display = 'none';
  }
  
  
    if (profile_bodytype_value == "") {
    document.getElementById('bodytype').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('bodytype').style.display = 'none';
  }
  
  if (profile_household_value == "") {
    document.getElementById('household').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('household').style.display = 'none';
  }
  
  if (profile_occupation == "") {
    document.getElementById('occupation').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('occupation').style.display = 'none';
  }
  
  if (profile_education_value == "") {
    document.getElementById('education').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('education').style.display = 'none';
  }
  
  if (profile_ethnicity_value == "") {
    document.getElementById('ethnicity').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('ethnicity').style.display = 'none';
  }
  
  if (profile_religion_value == "") {
    document.getElementById('religion').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('religion').style.display = 'none';
  }
  
  if (profile_gender == undefined) {
    document.getElementById('status').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('status').style.display = 'none';
  }
  
  if (profile_gender == undefined) {
    document.getElementById('gender').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('gender').style.display = 'none';
  }
  
  if (profile_city == "") {
    document.getElementById('city').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('city').style.display = 'none';
  }
  
  
  if (profile_state == "") {
    document.getElementById('state').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('state').style.display = 'none';
  }
  
  if (profile_name == "") {
    document.getElementById('name').style.display = 'unset';
    
  x += 1;
  } else {
    document.getElementById('name').style.display = 'none';
  }
  
  if (profile_country_value == "") {
    document.getElementById('country').style.display = 'unset';
    x += 1;
  } else {
    document.getElementById('country').style.display = 'none';
  }
  
  if(x > 0) {
    alert("Please complete your profile to use the website.");
    return false;
   
  } else {
    return true;
  }
}
</script>