<div class="container-fluid m-t-20">
  <hr>
  <div class="row">
    <%= render "layouts/message_sidebar" %>
    <div class="col-sm-9 col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading resume-heading">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-xs-4 col-sm-2">
                <figure>
                <% if !@profile.profile_photos.blank? %>
                  <img class="img-responsive" style="height: 100px; margin-left: 0;" alt="" src="<%= @profile.profile_photos.active_profile_pic.photo.url(:thumb) %>">
                <% end %>
                </figure>
              </div>
              <div class="col-xs-8 col-sm-10">
                <%= @profile.name %> (<%= @profile.age %>)<br>
                <%= @profile.address %><br><br>
                <%= link_to("View Profile", user_path(@profile.user), class: "btn btn-default") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="chat">
            <% @receipts.each do |receipt| %>
              <% if receipt.mailbox_type == 'inbox' %>
                <li class="left clearfix">
                  <span class="chat-img pull-left">
                    <img src="<%= receipt.message.sender.profile.profile_photos.active_profile_pic.photo.url(:conversation_thumb) %>" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font"><%= receipt.message.sender.profile.name %></strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                      </small>
                    </div>
                    <p>
                      <%= receipt.message.body %>
                    </p>
                  </div>
                </li>
              <% else %>
                <li class="right clearfix">
                  <span class="chat-img pull-right">
                    <img src="<%= receipt.message.sender.profile.profile_photos.active_profile_pic.photo.url(:conversation_thumb) %>" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                        <strong class="pull-right primary-font"><%= receipt.message.sender.profile.name %></strong>
                    </div>
                    <p>
                      <%= receipt.message.body %>
                    </p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer">
           <%= form_tag conversation_messages_path(@conversation) do %>
            <div class="input-group">
              <input id="btn-input" name="body" type="text" class="form-control input-sm" placeholder="Type your message here..." />
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                  Send
                </button>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>