<div class="container-fluid m-t-20">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="chat">
            <% @receipts.each do |receipt| %>
              <% if receipt.mailbox_type == 'inbox' %>
                <li class="left clearfix">
                  <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font"><%= receipt.message.sender.profile.name %></strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                      </small>
                    </div>
                    <p>
                      <%= receipt.message.body %>
                    </p>
                  </div>
                </li>
              <% else %>
                <li class="right clearfix">
                  <span class="chat-img pull-right">
                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                        <strong class="pull-right primary-font"><%= receipt.message.sender.profile.name %></strong>
                    </div>
                    <p>
                      <%= receipt.message.body %>
                    </p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer">
           <%= form_tag conversation_messages_path(@conversation) do %>
            <div class="input-group">
              <input id="btn-input" name="body" type="text" class="form-control input-sm" placeholder="Type your message here..." />
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                  Send
                </button>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>