<div class="container-fluid m-t-20">
  <div class="row">
    <div class="col-sm-3 col-md-2">
    </div>
    <div class="col-sm-9 col-md-10">
      <div class="btn-group">
        <button type="button" class="btn btn-default">
          <div class="checkbox">
            <label>
              <input type="checkbox">
            </label>
          </div>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">All</a></li>
          <li><a href="#">None</a></li>
          <li><a href="#">Read</a></li>
          <li><a href="#">Unread</a></li>
          <li><a href="#">Starred</a></li>
          <li><a href="#">Unstarred</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          More <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Mark all as read</a></li>
        </ul>
      </div>
      <div class="pull-right">
        <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <%= render "layouts/message_sidebar" %>
    <div class="col-sm-9 col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading resume-heading">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-xs-4 col-sm-2">
                <figure>
                  <img class="img-responsive" style="height: 100px; margin-left: 0;" alt="" src="<%= @profile.profile_photos.active_profile_pic.photo.url(:thumb) %>">
                </figure>
              </div>
              <div class="col-xs-8 col-sm-10">
                <%= @profile.name %> (<%= @profile.age %>)<br>
                <%= @profile.address %><br><br>
                <%= link_to("View Profile", user_path(@profile.user), class: "btn btn-default") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">
          <ul class="chat">
            <% @receipts.each do |receipt| %>
              <% if receipt.mailbox_type == 'inbox' %>
                <li class="left clearfix">
                  <span class="chat-img pull-left">
                    <img src="<%= receipt.message.sender.profile.profile_photos.active_profile_pic.photo.url(:conversation_thumb) %>" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font"><%= receipt.message.sender.profile.name %></strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                      </small>
                    </div>
                    <p>
                      <%= receipt.message.body %>
                    </p>
                  </div>
                </li>
              <% else %>
                <li class="right clearfix">
                  <span class="chat-img pull-right">
                    <img src="<%= receipt.message.sender.profile.profile_photos.active_profile_pic.photo.url(:conversation_thumb) %>" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                        <strong class="pull-right primary-font"><%= receipt.message.sender.profile.name %></strong>
                    </div>
                    <p>
                      <%= receipt.message.body %>
                    </p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer">
           <%= form_tag conversation_messages_path(@conversation) do %>
            <div class="input-group">
              <input id="btn-input" name="body" type="text" class="form-control input-sm" placeholder="Type your message here..." />
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                  Send
                </button>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>